html {
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: black;

}
.flex-container, body {
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#content {
    min-height: 500px;
    font-weight: bolder;
}
#output {
    font-size: 4em;
    color: red;
    margin: 100px 50px 100px 50px;
}
#button {
    border: 2px solid red;
    border-radius: 20px;
    background-color: red;
    color: whitesmoke;
    font-size: 2em;
    font-weight: bold;
    width: 200px;
}
.button-container:hover {
    transform: rotate(10deg);
}
footer {
    position: absolute;
    bottom: 0;
}
